@import "tailwindcss";

@theme {
  --color-brandPrimary: #f472b6;
  --color-brandSecondary: #0f172a;
  --color-brandAccent: #fcd34d;
  --color-background: #fafaf9;
  --color-typographyMain: #1f2937;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-typographyMain);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}